*{
    font-family: 'Open Sans', Tahoma, sans-serif;;
}

html {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
}

.pieChartWrapper{

}

.customTile{
    margin: 10px;
    width: calc(25% - 20px);
    float: left;
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 4px;
    position: relative;
}

.customTile:after{
    position: absolute;
    height: 50%;
    width: 50%;
    background: #fff;
    text-align: center;
    top: 25%;
    left: 25%;
    border-radius: 50%;
    color: #666;
    font-weight: bold;
    padding-top: calc(25% - 5px);
}

.customBig{
    width: calc(50% - 20px);
}

.applicationHealth:after{
    content: 'Application Health';
}

.misc{
    content: '';
    height: 334px;
}

.neo4j:after{
    content: 'Neo4j';
}

.elastic:after{
    content: 'Elastic';
}

.cassandra:after{
    content: 'Cassandra';
}

.tomcat:after{
    content: 'Tomcat';
}

.pentaho:after{
    content: 'Pentaho';
}

.swift:after{
    content: 'Swift';
}

.oracle:after{
    content: 'Oracle';
}

.dashboardHeader{
    height: 60px;
    background-color: #3f3f3f;
}

.dashboardTitle {
    font-size: 24px;
    padding: 13px 5%;
    color: #fafafa;
}

.dashboardBodyContainer{
    padding: 0px 5%;
    height: 100%;
}

.dashboardBody {
    background-color: #eee;
    height: calc(100% - 60px);
}

.wrapperMain {
    height: 100%;
    width: 100%;
}

.systemViewContainer {
    width: calc(40% - 10px);
    margin: 20px 20px 20px 0;
}

.transactionViewContainer, .systemViewContainer{
    height: calc(100% - 40px);
    float: left;
    background-color: #fff;
    box-shadow: 2px 2px 5px -2px #aaa;
}

.systemLabel, .transactionLabel{
    height: 40px;
    line-height: 40px;
    color: #777;
    padding: 0 12px;
    font-size: 18px;
}

.systemItemIndividualViewChild {
    display: inline-block;
}

.rightIconContainer {
    float: right;
    margin-right: 10px;
}

.rightIconContainerChild {
    display: inline-block;
}

.collapseIcon {
    height: 20px;
    width: 20px;
    background: url("../images/Forward-50.png") no-repeat left 50% top 50%;
    background-size: 15px;
    margin-left: 8px;
}

.collapseIcon:hover {
    background-color: #D6D3D3;
    cursor: pointer;
}

.expandIcon {
    height: 20px;
    width: 20px;
    background: url("../images/Expand Arrow-50.png") no-repeat left 50% top 50%;
    background-size: 15px;
    margin-left: 8px;
}

.expandIcon:hover {
    background-color: #D6D3D3;
    cursor: pointer;
}

.labelContainer{
    cursor: context-menu;
    vertical-align: super;
}

.statusIcon {
    height: 20px;
    width: 20px;
    background: url("../images/Rectangle-50.png") no-repeat left 50% top 50%;
    background-size: 15px;
}

.statusIcon:hover {
    background-color: #D6D3D3;
    cursor: pointer;
}

.thumbUpIcon {
    height: 20px;
    width: 20px;
    background: url("../images/Thumb Up-30.png") no-repeat left 50% top 50%;
    background-size: 15px;
}

.thumbUpIcon:hover {
    background-color: #D6D3D3;
    cursor: pointer;
}

.playIcon {
    height: 20px;
    width: 20px;
    background: url("../images/Play-30.png") no-repeat left 50% top 50%;
    background-size: 15px;
}

.playIcon:hover {
    background-color: #D6D3D3;
    cursor: pointer;
}

.restartIcon {
    height: 20px;
    width: 20px;
    background: url("../images/Restart-30.png") no-repeat left 50% top 50%;
    background-size: 15px;
}

.restartIcon:hover {
    background-color: #D6D3D3;
    cursor: pointer;
}

.shutDownIcon {
    height: 20px;
    width: 20px;
    background: url("../images/Shutdown-30.png") no-repeat left 50% top 50%;
    background-size: 15px;
}

.shutDownIcon:hover {
    background-color: #D6D3D3;
    cursor: pointer;
}

.exitIcon {
    height: 20px;
    width: 20px;
    background: url("../images/Exit-30.png") no-repeat left 50% top 50%;
    background-size: 15px;
}

.exitIcon:hover {
    background-color: #D6D3D3;
    cursor: pointer;
}

.childDomNodes {
    margin-left: 20px;
    position: relative;
}

.dispN {
    display: none;
}

.transactionViewContainer {
    width: calc(60% - 10px);
    margin: 20px 0;
}

.transactionView {
    padding: 10px;
    overflow: auto;
    height: calc(100% - 50px);
}

.pieWrapper {
    overflow: hidden;
}

.pieWrapper > svg{
    float: left;
}

.pieChartLabel {
    font-size: small;
    text-align: center;
}

.applicationhealth {
}

.pieInfoBodyLabel{
    font-size: 14px;
}

.pieInfoInnerWrapper {
    display: inline-block;
    float: right;
    width: 15%;
}

.pieInfoChild {
    display: inline-block;
    margin-left: 15px;
}

.passColorBlock {
    height: 20px;
    width: 20px;
}

.failColorBlock {
    height: 20px;
    width: 20px;
}

.inProgressColorBlock {
    height: 20px;
    width: 20px;
}